$colour-primary: #FF6060;
$colour-secondary:white;
$colour-lightGrey: #E3E3E3
// $colour-foot: #353535;
// $colour-mid: #F6F6F6;
// $colour-dark: #EAEAEA;
// $colour-darkgrey: #737373;
// $animation-delay: 300ms;
// $glissement-duration: 1000ms;
