@import '../../main.scss';

.carrouselContainer{
    display : flex;
    position: relative;
    z-index: 1;
    align-content: center;
}

.imageSlide{
    display: flex;
    height: 200px;
    width : 100%;
}
@media screen and (min-width: 576px){
    .imageSlide{
        height: 350px;
    }
}

.imageSlide img{
    object-fit: cover;
    width:100%;
    border-radius: 13px;
}

.leftArrow, .rightArrow{
    cursor: pointer;
    width: 50px;
    position: absolute;
    top: 35%;
}
.leftArrow img, .rightArrow img{
    filter : invert(100%);
}

.leftArrow{
    left: 5px;
}
.rightArrow{
    right: 5px;
}
@media screen and (min-width : 576px) {
    .leftArrow{
        left: 5px;
    }
    .rightArrow{
        right: 5px;
    }
    .leftArrow, .rightArrow{
        cursor: pointer;
        width: 100px;
        position: absolute;
        top: 35%;
    }
}
