@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainWrapper{
  margin : 0, 15px, 0, 15px;
  margin-right : auto;
  margin-left : auto;
  padding: 30px;
  min-height: 85vh;
  max-width: 1000px;
}

@media screen and (max-width: 576px){
  .mainWrapper{
    padding: 15px;
  }
}

h1{
  font-weight: 400;
  font-size : 96px;
  color: $colour-primary
}
h2{
  font-weight: 400;
  font-size : 24px;
  color: $colour-primary
}

h3{
  font-weight: 400;
  font-size : 18px;
  color: $colour-primary
}
h4{
  font-weight: 400;
  font-size : 14px;
  color: $colour-primary
}
h5{
  font-weight: 400;
  font-size : 12px;
  color: $colour-primary
}

@media screen and (min-width: 576px){
  h2{
    font-size : 20px;
  }
  h3{
    font-size : 16px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
