.bannerContainer{
    margin-top : 15px;
    width: 100%;
}

.banner {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

.bannerImg{
    object-fit: cover;
    background-color: black;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    filter: brightness(70%);
}

.slogan{
    text-align: left;
    position: absolute; 
    width: 80%;
    margin: 20px; 
    color: white;  
    font-size: 20px;            
}

@media screen and (min-width: 576px){
    .slogan{
        font-size: 30px;
        text-align: center;
    }
    .bannerImg{
        height: 130px;
    }
}